body{
    font-family: Roboto;
}
.nav{
    background-color: grey;
    display: flex;
    padding:auto;
    size: 100%;
    justify-content: space-between;
    color: white;
}
.nav-title{   
    margin-left: 1%;
}
.nav-links{
   display: flex;
   width: 600px;
   justify-content: flex-end;
   list-style-type: none;
}

li{
    margin: 2%;
    text-align: center;
    display:flex;
    align-items: center;
}

a{
   
    text-decoration: none;
    color: white;
}
button{
    color:white;
    background-color: darkcyan;
    font-size: 20px;
}